// external imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// colors
$mainBlack: #000;
$mainWhite: #fff;
$lightGrey: rgb(212, 209, 209);
$dimWhite: rgb(247, 247, 247);
$radialBg: radial-gradient(ellipse at bottom, #1591c2 0%, #090a0f 100%);
// theme
$mainFont: 'Raleway', sans-serif;
$titleFont: 'Lilita One', cursive;
